@import './style/fonts.css';
@import './style/reset.css';

:root {
  --cream: #F7EFDF;
  --red: #5A110C;
  --salmon: #ED6A5A;
  --lime: #BBF100;
  --dark-green: #14281D;
}

body {
  background-color: var(--cream);
  font-color: var(--dark-green);
}

h2 {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Chillax Variable';
}

p {
  font-family: 'Outfit';
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.page {
  padding: 100px 134px;
  gap: 130px;
}

.header {
  border: 8px solid var(--dark-green);
  border-radius: 15px;
  font-size: 76px;
  font-family: 'Chillax-Variable';
  color: var(--dark-green);
  font-weight: 900;
  padding: 20px 40px;
  width: min-content;
  white-space: nowrap;
}

.recipe {
  border: 4px solid var(--dark-green);
  border-radius: 15px;
  padding: 20px 30px;
  gap: 20px;
}

.recipe:hover {
  background-color: var(--salmon);
}

.recipe_ingredients {
  gap: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
